<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>11ty CI/CD</title>
</head>
<body>
	<h1>11ty CI/CD</h1>
	<hr>
	<p>Here's the content:</p>
	{{ content | safe }}
</body>
</html>